body {
  background: white;
  color: black;
  text-align: center;
  margin-top: 100px;
}

main {
  color: black;
  margin: 0 auto;
}

fieldset {
  border: 0;
  padding: 40px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 25%;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

.submit-button {
  background: rgb(139, 205, 228);
  color: black;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 15 30;
  transition: 0.9s all;
}

.submit-button:hover {
  background: rgb(81, 197, 236);
  transform: scale(1.15);
}

#resultadoIMC {
  margin-top: 20px;
}
